* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  min-height: 100vh;
  background-color: #fff;
}

a,
a:hover {
  text-decoration: none;
}

.my-container {
  transition: 0.4s;
}

#menu-btn {
  color: #fff;
  margin-left: -25px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
